//il grigio-blu dell'header e del testo
$primary-color: #121921;
//nav
$nav-bg: #242F3F;
//colori delle card
$card-bg: #36C3B5;
$rapid_offer: #CA0C3E;
//gli arancioni
$secondary-color: #FF9900;
$secondary-color-light: #F3A846;
//i grigi
$tertiary-color: #E4E5E7;
$tertiary-color-dark: #999999;